@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-red: oklch(64.538% 0.1872 23.995);
  --color-cyan: oklch(79.431% 0.1184 195.03);
  --color-orange: oklch(81.089% 0.1451 70.11);
  --color-blue: oklch(68.94% 0.145 253.31);
  --color-grey-500: oklch(43.071% 0.031 280.03);
  --color-grey-400: oklch(54.136% 0.0136 251.64);
  --color-white: oklch(100% 0 0);

  --font-*: initial;
  --font-sans: Poppins, sans-serif;

  --font-weight-*: initial;
  --font-weight-extralight: 200;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-grey-500;
  }

  h1 {
    @apply text-2xl lg:text-4xl;
  }

  h2 {
    @apply text-xl;
  }
}
